
<form [formGroup]="form">

    <input formControlName="name" placeholder="Name">

    <div formGroupName="roles">
        
      <input type="checkbox" formControlName="admin" placeholder="Administrator">
      <label for="admin">Administrator</label>
      <br>

      <input type="checkbox" formControlName="executionmanager" placeholder="Execution Manager">
      <label for="admin">Execution Manager</label>      
      <br>

      <input type="checkbox" formControlName="managementstudio" placeholder="Management Studio">
      <label for="admin">Management Studio</label>
      <br>

      <input type="checkbox" formControlName="analyze" placeholder="Analize">
      <label for="admin">Analyze</label>
    </div>

</form>
  
<div>
    Form value <br>
    <pre><code>{{ form?.value | json }}</code></pre>
</div>
